	body {
  		color: white;
  		background-color: #f7ebd5;
  	}
  	.title {
  		font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  		font-size: 60px;
  		text-align: center;
  		padding-top: 80px;
  		letter-spacing: 14px;
  	}
  	.container {
		background: #ffffff url(dal.jpg);
  		width: 1000px;
  		margin-left: auto;
  		margin-right: auto;
  		height: 900px;
  	}
  	.subtitle {
  		font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  		font-size: 15px;
  		text-align: center;
  		letter-spacing: 3px;
  	}
	* {box-sizing: border-box;}
	form {
  		position: relative;
  		width: 300px;
  		margin: 0 auto;
	}
	input, button {
  		border: none;
  		outline: none;
  		border-radius: 0px; /*округление рамки*/
	}
	input {/**/
  		width: 100%;
  		height: 25px;
  		background: #ffffff;
  		padding-left: 15px;
	}
	button { /*кнопка, высота, ширина, позици€ и цвет*/
  		height: 25px;
  		width: 45px;
  		position: absolute;
  		top: 0px;
  		right: 0px;
  		background: #483524;
  		cursor: pointer;
	}
	.conclusion {
                background: url(фонпрозрачность.png);
   		width: 800px;
   		height: 500px;
    		margin-top: 100px;
  	}
	.result {
		font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
		letter-spacing: 5px;
  		font-size: 15px;
		margin-top: 20px;
		margin-left: 20px;
		text-align: left;

	}
	.resultss {
		font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
		letter-spacing: 1px;
  		font-size: 15px;
		margin-top: 20px;
		margin-left: 20px;
		text-align: left;
	}
	A { 
	text-decoration: none; 
	} 
	A:hover { 
	color: white; /* —сылка красного цвета */ 
	}
